*{
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
.app {
    overflow: hidden;
    width: 100vw;
    display: flex;
}
#wrapper {
    overflow: hidden;
    width: 100%;
    display: grid;
}