.league-card__main-item{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: var(--mask);
}
.league-card__main-item .l-c__m-i__item:nth-child(1){
    padding: 10px 20px;
}

.league-card__main-item .l-c__m-i__item:nth-child(1) .content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: space-between;
}
.league-card__main-item .content .content-date{
    display: flex;
    align-items: center;
}
.league-card__main-item .content .content-odd__head{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    justify-content: space-around;
}
.league-card__main-item .l-c__m-i__item:nth-child(1) span {
    color: var(--pale-gray);
}

.league-card__main-item .l-c__m-i__item:nth-child(2){
    background-color: var(--major);
    padding: 0;
}


